:root {
    --main-color: #ecf5eb;
    --accent-color: #1d3930;
    --supporting-color: #f2e8cf;
    --secondary-accent-color: #49322027;
    --text-color: #2a6041;
    --background-color: #ecedef;
    --brown: #8c674acf;
    --dark: rgb(33 37 41);

    --dark-text: #1d3930;
    --brown-text: #8c674acf;

    
  }