:root {
  --main-color: #ecf5eb;
  --accent-color: #1d3930;
  --supporting-color: #f2e8cf;
  --secondary-accent-color: #49322027;
  --text-color: #2a6041;
  --background-color: #ecedef;
  --brown: #8c674acf;
  --dark: rgb(33 37 41);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--accent-color);
}

.btn {
  background-color: #212529b5;
  border: 1px solid var(--accent-color);
  font-weight: 600;
  color: var(--main-color);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: var(--brown);
  transform: scale(1.05);
  color: var(--main-color) !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

a {
  color: var(--accent-color);
  text-decoration: none !important;
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  color: var(--text-color) !important;
  text-decoration: underline; /* Добавляем подчеркивание */
  transform: scale(1.05); /* Легкое увеличение текста */
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}


/* NF */
.nf-container {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nf-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
}



