/* Products */

.product-card {
    height: 100vh;
    align-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .product-image {
    height: 90vh;
    object-fit: contain;
  }
  
  .product-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
  }
  
  .product-category {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--secondary-accent-color);
    margin-bottom: 15px;
  }
  
  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 20px;
  }
  
  .product-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  